<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.orion.orion">

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/orion_logo_png_black"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/orion_logo_png_black"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".contest.jury_voting_Activity"></activity>
        <activity android:name=".contest.create.CreatedActivity" />
        <activity android:name=".contest.joined.JoinedActivity" />
        <activity android:name=".contest.upcoming.UpcomingContestActivity" />
        <activity android:name=".NotificationActivity" />
        <activity android:name=".chat.MessagesActivity" /> <!-- Activities -->
        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Login/Signup Section + Intro part -->
        <activity
            android:name=".login.LoginActivity"
            android:noHistory="true" />
        <activity
            android:name=".login.RegisterActivity"
            android:noHistory="true" /> <!-- Home Section -->
        <activity android:name=".chat.Message_Request" />
        <activity android:name=".chat.Chat_Activity" /> <!-- Contest Section -->
        <activity android:name=".contest.create.CreateForm" />
        <activity android:name=".contest.create.CheckContest" />
        <activity android:name=".contest.ViewContestDetails" />
        <activity android:name=".contest.joined.JoiningForm" />
        <activity android:name=".contest.joined.joined_contest_overview_activity" />
        <activity android:name=".contest.ranking" />
        <activity android:name=".contest.Contest_Evaluation.Participant_Request" />
        <activity android:name=".contest.Contest_Evaluation.contest_evaluation_activity" />
        <activity android:name=".contest.Contest_Evaluation.activity_view_media" />
        <activity android:name=".contest.result.ResultDeclaredActivity" />
        <activity android:name=".contest.public_voting_media" /> <!-- Leaderboard Section -->
        <activity android:name=".LeaderboardActivity" /> <!-- Profile Section -->
        <activity
            android:name=".profile.profile"
            android:noHistory="true" />
        <activity
            android:name=".profile.ProfileActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".profile.ViewProfileActivity"
            android:launchMode="singleTop" />
        <activity android:name=".profile.Account.AccountSettingActivity" />
        <activity android:name=".profile.Account.EditProfile" />
        <activity android:name=".profile.Account.Password_Reset" />
        <activity android:name=".profile.Account.Contest" />
        <activity android:name=".profile.Account.About" />
        <activity android:name=".profile.Account.FanFolllowing.FanFollowList" /> <!-- Extras -->
        <!-- Services -->
        <meta-data
            android:name="com.google.firebase.messaging.some_id"
            android:value="some_id" /> <!-- Meta data -->
        <service
            android:name=".Notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <dist:module dist:instant="true" />

</manifest>